@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DungGeunMo';
  src: url('./assets/fonts/DungGeunMo.ttf');
}

@layer utilities {
  .w-full-side {
    width: calc(100% - 15rem);
  }
}