@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DungGeunMo';
  src: url('./assets/fonts/DungGeunMo.ttf');
}

@layer utilities {
  .w-full-side {
    width: calc(100% - 15rem);
  }
}

/* FullCalendar CSS */
.fc-day-sun a {
  color: red;
}

.fc-day-sat a {
  color: blue;
}
/* FullCalendar CSS */
