@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DungGeunMo';
  src: url('./assets/fonts/DungGeunMo.ttf');
}

@layer utilities {
  .w-full-side {
    width: calc(100% - 15rem);
  }
}

/* FullCalendar CSS */
.fc-day-sun a {
  color: red;
}

.fc-day-sat a {
  color: blue;
}
/* FullCalendar CSS */

/* TextTypingAni */
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-end infinite;
}
/* TextTypingAni */

#disableOption {
  display: none;
}
